<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout.html :: dynamic(~{::body})}">

<!-- Liên kết file CSS với Thymeleaf -->
<link rel="stylesheet" th:href="@{/css/index.css}">
<body>
This is user bookmarks
	<section class="py-5 bg-light">
			<div class="container">
				<div class="row g-4">
					<!-- Blog Card -->

					<div th:each="bookmark : ${list}" class="col-md-3">
						<div class="card border-0 shadow-sm h-100">
							<img src="blog-image-1.jpg" class="card-img-top" alt="Blog Image">
							<div class="card-body">
								<div class="d-flex align-items-center mb-3">
									<span th:text="${bookmark.article.category.categoryName}"
										class="badge bg-primary me-2">React</span>
								</div>
								<span th:text="${#dates.format(bookmark.article.createat, 'dd/MM/yyyy')}"
									class="text-muted fw-light  small"></span>
								<h5 class="card-title fw-bold mb-3 ">
									<a href="#" th:text="${bookmark.article.title}"
										class="text-decoration-none text-dark stretched-link"> </a>
								</h5>
								<p th:text="${bookmark.article.content}"
									class="card-text text-truncate text-muted"></p>
							</div>
							<div class="card-footer  bg-transparent border-0 pt-0 pb-4 px-4">
								<div class="d-flex align-items-center">
									<img src="author-avatar-1.jpg" class="rounded-circle me-2"
										width="24" height="24" alt="Author Avatar"> <span
										th:text="${bookmark.article.author.fullname}" class="small fw-medium"></span>	
								</div>
<!-- 								<a th:attr="data-article-id=${bookmark.article.articleID}" href="javascript:void(0)"  class="save-article position-relative d-flex justify-content-end z-1"><i class="fa-solid fa-bookmark fa-beat-fade" style="color: #FFD43B;"></i></a>
 -->							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</body>
</html>